body {
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 130%;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 60%;
    border: 3px solid #000;
    border-radius: 7%;
    background: linear-gradient(135deg, rgb(115, 195, 197), rgb(21, 97, 127));
}

.weather {
    text-align: center;
    line-height: 100%;
}

img {
    height: 35%;
    width: 35%;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    color: rgba(180, 235, 249, 0.849);
    line-height: 25%;
}

.row {
    font-weight: bold;
}

.weather-icon {
    margin-top: 10%;
    height: 30%;
    width: 30%;
}

.city {
    font-size: 200%;
}